{% load static %}
<div class="input-group mb-3 mt-5">
    <input id="search-input" type="text" class="form-control input-rounded dropdown-toggle input-med" placeholder="Search Books..." aria-label="Search Books..." aria-describedby="basic-addon2"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="input-group-append input-rounded input-med bg-invisible">
        <img class="input-group-text input-rounded input-med" src="{% static "search.png" %}" id="basic-addon2">
    </div>
    <div id="suggestion-dropdown" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton"></div>
</div>