{% extends "base/layout.html" %}

{% block content %}
{% load static %}
    <div class="bg-dark">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col col-md-6 mt-5">
                    <img class="img-responsive" width="300px" src="{% static "Logo buku.png" %}">
                    <h3 class="mt-5 text-white">Hi there!</h3>
                    <h3 class="text-white">What books would you like to search for today ?</h3>
                </div>

                <div class="ool col-md-4 mt-5">
                    <img class="img-responsive mt-5 d-none d-md-block" width="290px" src="{% static "mba2.png" %}" style="margin-top: 47%!important;">
                </div>
            </div>
        </div>
    </div>
    {% include "component/login_form.html" %}
{% endblock %}